# Ignore all PNG files in the current directory
*.png

# Ignore the entire directory
/OUTPUT/
/dist/
/build/
# Ignore the entire BAK directory
/BAK/

# Common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
